<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoschGitRepositories</title>
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="../static/css/heading.css" th:href="@{css/styles.css}">
    <link rel="stylesheet" href="../static/css/body.css" th:href="@{css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>


<!--                    filterOptions-->
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="get" th:object="${filterOptions}">
    <br/>
    <label>
        <input type="text" placeholder="Insert Name" th:field="*{name}"/>
    </label>
    <label>
        <input type="text" placeholder="Insert Description" th:field="*{description}"/>
    </label>
    <label>
        <input type="text" placeholder="Insert Language" th:field="*{language}"/>
    </label>

    <br/><br/>

    <input type="submit" value="Search"/>
</form>


<div th:each="repos :${boschRepos}">
    ID:
    <h4 th:text="${repos.getId()}">Repo ID </h4>
    <br>
    Repository Name:
    <h2 th:text="${repos.getName()}">Repo Name </h2>


    <div th:unless="${repos.getDescription()==null}">
        <br>
        Description:
        <h4 th:text="${repos.getDescription()}">Repo Description</h4>
    </div>
    <div th:if="${repos.getDescription() == null}">
        <br>
        No description
    </div>
    <br>
    Language:
    <h3 th:text="${repos.getLanguage()}">Repo Language </h3>
    <br>
    URL:
    <a href="#" th:href="${repos.getUrl()}" th:text="${repos.getUrl()}">Repo Url </a>

    <hr class="my-4"/>

</div>
</body>
</html>