<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoschGitRepositories</title>
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="../static/css/heading.css" th:href="@{css/styles.css}">
    <link rel="stylesheet" href="../static/css/body.css" th:href="@{css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>


<!--                    filterOptions-->
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      method="get" th:object="${filterOptions}"><label th:class="form-label"><strong>Filter Options</strong></label>

    <br/>
    <div th:class="row">
        <div th:class="col-2"><input th:class="form-control" type="text" placeholder="name" th:field="*{name}"/></div>
        <div th:class="col-2"><input th:class="form-control" type="text" placeholder="Description" th:field="*{description}"/></div>
<!--        <div th:class="col-2"><input th:class="form-control" type="text" placeholder="Language" th:field="*{language}"/>-->
<!--        </div>-->


        <br/><br/>
        <div th:class="col-1"><input class="btn btn-primary" type="submit" value="Search"/></div>
    </div>
</form>


<div th:each="repos :${boschRepos}">
    ID:
    <h4 th:text="${repos.getId()}">Repo ID </h4>
    <br>
    Repository Name:
    <h2 th:text="${repos.getName()}">Repo Name </h2>


    <div th:unless="${repos.getDescription()==null}">
        <br>
        Description:
        <h4 th:text="${repos.getDescription()}">Repo Description</h4>
    </div>
    <div th:if="${repos.getDescription() == null}">
        <br>
        No description
    </div>
    <br>
    Language:
    <h3 th:text="${repos.getLanguage()}">Repo Language </h3>
    <br>
    URL:
    <a href="#" th:href="${repos.getUrl()}" th:text="${repos.getUrl()}">Repo Url </a>

    <hr class="my-4"/>

</div>
</body>
</html>